

header p{
    text-align: center;
    font-style: italic;
    font-size: 30px;
   
   
   }
   
   header{
       max-width: 90ch;
       text-align: center;
       padding-left: 500px;
   }
   
   
   body{
       background-color: #edd4be;
       padding-left: 90px;
   }
   /* h5{
        text-align: center;
    } */
   a {
       color: #E63946;
   }
   
   h3{
       font-size: 30px;
   }
   
    .author{
        column-count: 2;
        column-gap: 40px;
        text-align: center;
        padding: 10px;
       
    }
    h1{
        
        font-size: 100px;
        font-family: "Anton", sans-serif;
        color: #452b0a;
        text-align: center;
        letter-spacing: 6px;
       
   
   
    }
   
    
    p{
       font-size: 18px;
       color: #031D44;
       padding-top: 30px;
       font-family: Georgia, 'Times New Roman', Times, serif;
       line-height: 1.5;
       
    }
   
    /* em{
       font-size: 18px;
      
    }
    */
   /* strong{
       font-size: 23px;
      
    }*/
   
    
    /* .author h5{
        text-align: center;
    } */
   .line{
    width: auto;
    border-bottom: 10px solid #452b0a;
   }
   .line2{
    width: auto;
    border-bottom: 5px solid #452b0a;
   }
   
   
   
    .page{
       max-width: 110ch;
    }
   
   
   section{
       
      padding-top: 100px;
      padding-left: 50px;
    
   }
   
   .container1{
       max-width: 90ch;
       padding-left: 80px;
   }
   
   .intro{
       max-width: 90ch;
    }
   
    .intro1{
       /* text-align: right; */
       max-width: 90ch;
       
    }
   
   
   /*blockquote{
       font-size: 30px;
       font-weight: bold;
       font-style: italic;
   }
   */
   blockquote p{
       font-size: 30px;
       font-weight: bold;
       font-style: italic;
       max-width: 90ch;
   }
   
   
   .head{
       grid-column: 1/span 1;
       grid-row: 1;
   }
   
   .intro3{
       padding-top: 30px;
   }
   
   h2{
       font-family: "Noto Serif", serif;
       font-weight: 700;
     font-style: italic;
     font-size: 30px;
     color: #452b0a;
   }
   
   .container3{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 0.3fr 0.5fr;
       padding-left: 80px;
       padding-top: 50px;
       max-width: 400ch;
       /* margin-top: 20px; */
   }
   
   .head1{
       grid-column: 1/span 2;
       grid-row: 1;
   }
   
   .section4{
   /* grid-template-columns: 2/ span1; */
   grid-row: 2/span 1;
   max-width: 80ch;
   
   }
   
   .section5{
       grid-template-columns: 2/ span 1;
       grid-row: 2/span 1;
       padding-left: 80px;
       max-width: 80ch;
       
   }
   
   .container4{
       display: grid;
       grid-template-columns: 0.2fr 0.7fr;
       grid-template-rows: 1fr 1fr 1fr 1fr;
      padding-left: 80px;
      padding-top: 100px;
      
     
   
   }
   
   .header{
       grid-column: 1;
       grid-row: 1;
   }
   
   .response{
       grid-column: 2;
       grid-row: 1/ span 4;
       max-width: 80ch;
   }
   footer{
       background-color: #031D44;
       /* padding: 10px; */
       color: white;
       width: auto;
   } 
   .container2{
       padding-top: 100px;
       padding-left: 30px;
   }
   
   
   section:nth-child(1) {
      
       padding-left: 30px;
       position: absolute; 
       padding-top: 30px;
       max-width: 90ch;
   
   }
   
   section:nth-child(2){
       
       position: relative; 
       max-width: 80ch;
       padding-left: 20px;
       padding-top: 200px;
   }
   section:nth-child(3) {
       
       position: relative; 
       max-width: 80ch;
       left: 800px;
       bottom: 850px;
       padding-top: 200px;
   }
   
   
   section:nth-child(4) {
   
       position: relative; 
       max-width: 80ch;
       left: 800px;
      
       bottom: 900px;
       
   }
   
   section:nth-child(5) {
   
       position: relative; 
       max-width: 80ch;
       bottom: 700px;
       padding-left: 20px;
       
   }
   
   section:nth-child(6) {
   
       position: relative; 
       max-width: 80ch;
       bottom: 700px;
       left: 800px;
       
   }
   
   